<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>product List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product Id</th>
            <th>Name Produc</th>
            <th>State Produc</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products | async">
            <td>{{product.ProductId}}</td>
            <td>{{product.NameProduc}}</td>
            <td>{{product.StateProduc}}</td>
            <td><button (click)="deleteProduct(product.ProductId)" class="btn btn-danger">Delete</button>
                <button (click)="productDetails(product.ProductId)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>